body{
  height: 100vh;
  width: 100vw ;
  margin: 0;
  background-image: url(photo2.jpg);
}
h1{
   text-align: center;
   color: white ;
}
p{
  color: white ;
  text-align: center;
}
a{
  margin: 60px;
  border-style: dashed   ;
  align-content: center ;
  background: #000;
}
